<!-- Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Snow motion {{ 'Trgovina' | translate}}</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw text-light"></i>
                        <a class="text-decoration-none" href="#" [routerLink]="'/poslovalnice'">Snow motion d.o.o.</a>
                        
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw text-light"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">01 020 0340</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw text-light"></i>
                        <a class="text-decoration-none" href="mailto:info@snow-motion.si">info&#64;snow-motion.si</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">{{ 'Izdelki' | translate}}</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">{{ 'Smuci' | translate}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{ 'Smucarski_cevlji' | translate}}</a></li>
                    <li><a class="text-decoration-none" href="#">{{ 'Dodatna_oprema' | translate}}</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">{{ 'Informacije' | translate}}</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#" [routerLink]="['/about']">{{ 'O_nas' | translate}}</a></li>
                    <li><a class="text-decoration-none" href="#" [routerLink]="['/poslovalnice']">{{ 'Poslovalnice' | translate}}</a></li>
                    <li><a class="text-decoration-none" href="#" [routerLink]="['/kontakt']">{{ 'Kontakt' | translate}}</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/" aria-label="facebook"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/" aria-label="instagram"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/" aria-label="linkedin"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>                   
                </ul>
            </div>            
        </div>
    </div>
</footer>