 <!-- Start Banner Hero -->
 <div id="template-mo-zay-hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      
    <div class="carousel-inner">
        
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-lg-6 order-lg-last">
                        <img class="d-block w-100" src="img/logo.png" alt="logo">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Dobrodošli</b></h1>
                            <h3 class="h2">v vaši zimski destinaciji</h3>
                            <p>
                                Snow Motion ni le spletna trgovina, temveč tudi kraj, kjer zima zaživi. 
                                Pri nas najdete vrhunsko smučarsko opremo in dodatke, ki vas bodo spremljali
                                na vseh zasneženih dogodivščinah.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
      
    </div>
</div>

