<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Registracija uporabnika</h4>
                        </div>
                        <div class="form-floating">
                          <input type="username" 
                          class="form-control" 
                          id="floatingInput1" 
                          placeholder="Username"
                          name="email"
                          [(ngModel)]="email">
                          <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating">
                          <input type="password" 
                          class="form-control" 
                          id="floatingPassword" 
                          placeholder="Password"
                          name="password"
                          [(ngModel)]="password">
                          <label for="floatingInput">Geslo</label>
                        </div>
                        <div class="form-floating">
                            <input type="username" 
                            class="form-control" 
                            id="floatingInput2" 
                            placeholder="Username"
                            name="email"
                            [(ngModel)]="name">
                            <label for="floatingInput">Ime</label>
                          </div>
                          <div class="form-floating">
                            <input type="username" 
                            class="form-control" 
                            id="floatingInput2" 
                            placeholder="Username"
                            name="email"
                            [(ngModel)]="surname">
                            <label for="floatingInput">Priimek</label>
                          </div>
                          <div class="form-floating">
                            <input type="username" 
                            class="form-control" 
                            id="floatingInput3" 
                            placeholder="Phone number"
                            name="email"
                            [(ngModel)]="phoneNumber">
                            <label for="floatingInput">Telefon</label>
                          </div>
                          <div class="form-floating">
                            <input type="address" 
                            class="form-control" 
                            id="floatingInput3" 
                            placeholder="Address"
                            name="address"
                            [(ngModel)]="address">
                            <label for="floatingInput">Naslov</label>
                          </div>
                        <hr/>
                            <button class="w-100 btn btn-lg btn-success" 
                                type="submit"
                                (click)="register()">
                                Registracija</button>
                                <ul></ul>
                        <div class="row">
                            <div class="mb-3">
                                <a href="/login" style="text-decoration: none;">Že imaš račun? <span class="text-danger">Prijava</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="py-5"></div>
    </div>
  </div>