<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">{{ 'Registracija_uporabnika' | translate }}</h4>
                        </div>
                        <div class="form-floating">
                          <input type="username" 
                          class="form-control" 
                          id="floatingInput1" 
                          placeholder="Username"
                          name="email"
                          [(ngModel)]="email">
                          <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating">
                          <input type="password" 
                          class="form-control" 
                          id="floatingPassword" 
                          placeholder="Password"
                          name="password"
                          [(ngModel)]="password">
                          <label for="floatingInput">{{ 'Geslo' | translate }}</label>
                        </div>
                        <div class="form-floating">
                            <input type="username" 
                            class="form-control" 
                            id="floatingInput2" 
                            placeholder="Username"
                            name="email"
                            [(ngModel)]="name">
                            <label for="floatingInput">{{ 'Ime' | translate }}</label>
                          </div>
                          <div class="form-floating">
                            <input type="username" 
                            class="form-control" 
                            id="floatingInput2" 
                            placeholder="Username"
                            name="email"
                            [(ngModel)]="surname">
                            <label for="floatingInput">{{ 'Priimek' | translate }}</label>
                          </div>
                          <div class="form-floating">
                            <input type="username" 
                            class="form-control" 
                            id="floatingInput3" 
                            placeholder="Phone number"
                            name="email"
                            [(ngModel)]="phoneNumber">
                            <label for="floatingInput">{{ 'Telefon' | translate }}</label>
                          </div>
                          <div class="form-floating">
                            <input type="address" 
                            class="form-control" 
                            id="floatingInput3" 
                            placeholder="Address"
                            name="address"
                            [(ngModel)]="address">
                            <label for="floatingInput">{{ 'Naslov' | translate }}</label>
                          </div>
                        <hr/>
                            <button class="w-100 btn btn-lg btn-success" 
                                type="submit"
                                (click)="register()">
                                {{ 'Registracija' | translate }}</button>
                                <ul></ul>
                        <div class="row">
                            <div class="mb-3">
                                <a href="/login" style="text-decoration: none;">{{ 'Imas_racun' | translate }}? <span class="text-danger">{{ 'Prijava' | translate }}</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="py-5"></div>
    </div>
  </div>