<div class="container py-5"> 
    <div class="card h-100 border border-dark-subtle shadow-sm bg-white">
        <div class="row">
          <div class="col-md-8 cart">
            <div class="title">
              <div class="row">
                <div class="col">
                  <h2>{{ 'Kosarica' | translate }}</h2>
                  <span>{{ 'Izdelkov' | translate }}:&nbsp;{{ productsInCart.length }}</span>
                </div>
                
              </div>
            </div>
      
            <!-- Cart Items Loop -->
            <div *ngIf="!isLoading && productsInCart.length > 0">
              <div class="row border-top border-bottom" *ngFor="let product of productsInCart;">
                <div class="row main align-items-center">
                  <div class="col-2">
                    <img class="cart-item" [src]="'assets/img/' + product.img_url" alt="{{ product.name }}" />
                  </div>
                  <div class="col-md-4">
                    <div class="row text-success"><b>{{ product.categoryName }}</b></div>
                    <div class="row"><p>{{ product.name }}</p></div>
                  </div>
                  <div class="col">
                    <button   (click)="decreaseQuantity(product.ProductID)" class="quantity-button btn btn-success">-</button >
                    <span  class="quantity-display">{{ product.quantity }}</span>
                    <button (click)="increaseQuantity(product.ProductID)" class="quantity-button btn btn-success">+</button >
                  </div>
                  <div class="col">
                     {{ formatCurrency(product.price * product.quantity) }} 
                  </div>
    
                  <div class="col">
                    <a style="cursor:pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Odstrani iz košarice" class="position-relative btn btn-success" aria-label="Remove" (click)="removeFromCart(product.ProductID)">
                      <i class="fa fa-trash" aria-hidden="true"></i></a>
                  </div>
                  
                </div>
              </div>
            </div>
      
            <!-- Empty Cart Message -->
            <div *ngIf="!isLoading && productsInCart.length === 0" class="empty-cart">
              <p>{{ 'Kosarica_prazna' | translate }}</p>
            </div>
      
            <div class="back-to-shop">
              <a class="nav-link" href="" [routerLink]="['/trgovina']"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; {{ 'Nazaj_v_trgovino' | translate }}</a>
            </div>
          </div>
      
          <!-- Cart Summary -->
          <div class="col-md-4 summary">
            <div><h2>{{ 'Povzetek' | translate }}</h2></div>
            <hr>
            <div class="row">
              <div class="col" style="padding-left:0;">{{ productsInCart.length }} &nbsp;{{ 'izdelkov' | translate }}</div>
              <div class="col text-right"> {{ formatCurrency(totalPrice) }}</div>
            </div>
    
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col" style="padding-left:0;">DDV (22%)</div>
                <div class="col">{{ formatCurrency(totalVAT)}}</div>
              </div>
      
            <p class="spacing-top">{{ 'Nacin_dostave' | translate }}:</p>
            <select id="dropdown" [(ngModel)]="shippingOption" (change)="onSelectionChange()" class="custom-select">
              <option value="osebno">{{ 'Osebni_prevzem' | translate }} - {{formatCurrency(0)}}</option>
              <option value="standard">{{ 'Standardna_dostava' | translate }} - {{formatCurrency(7)}}</option>
              <option value="express">{{ 'Hitra_dostava' | translate }} - {{formatCurrency(15)}}</option>
             
            </select>
            <div *ngIf="displayForm" class="shipping-form mt-3">
              <h2>{{ 'Vnesite_naslov' | translate }}</h2>
              <form (ngSubmit)="submitShippingForm()">
                <div class="form-group">
                  <label for="address">{{ 'Naslov' | translate }}</label>
                  <input type="text" id="address" class="custom-select" [(ngModel)]="shippingInfo.address" name="address" required>
                </div>
                <div class="form-group">
                  <label for="postalCode">{{ 'Postna_stevilka' | translate }}</label>
                  <input type="text" id="postalCode" class="custom-select" [(ngModel)]="shippingInfo.postalCode" name="postalCode" required>
                </div>
                <div class="form-group">
                  <label for="city">{{ 'Mesto' | translate }}</label>
                  <input type="text" id="city" class="custom-select" [(ngModel)]="shippingInfo.city" name="city" required>
                </div>
              </form>
            </div>
            <h2 class="spacing-top">{{ 'Izberi_placilo' | translate }}:</h2>
            <select id="dropdown" [(ngModel)]="paymentOption" (change)="onSelectionChange()" class="custom-select">
              <option value="poPovzetju">{{ 'Po_povzetju' | translate }}</option>
              <option value="predracun">{{ 'Predracun' | translate }}</option>
              <option value="creditCard">{{ 'Kreditna_kartica' | translate }}</option>
              <option value="paypal">{{ 'Paypal' | translate }}</option>
            </select>
        
              <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col"><h2><strong>{{'Skupaj_placilo' | translate}}:</strong></h2></div>
                <div class="col text-right"><h2><strong>{{formatCurrency(totalWithShipping)}}</strong></h2> <!-- Total with shipping + VAT -->
                </div>
              </div>
    
              <button class="btn btn-success" (click)="submitOrder()">{{ 'Oddaj_narocilo' | translate }}</button>
            </div>
        </div>
      