.img-fluid {
    width: 700px;
    height: 400px;
    display: inline-block; /*omogÄi prilagoditev velikosti*/
    object-fit: contain;
    text-align: center;
}

#col {

  d-grid {

    text-align:center;
}
}