 <!-- Open Content -->
 <section class="bg-light" *ngIf="product">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="assets/img/{{product.img_url}}" alt="Card image cap" id="product-detail">
                </div>
                    <div class="card mb-3">
                       <app-opinions [productId]="product.ProductID"></app-opinions>      
                    </div>            
                
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">{{product.name}}</h1>
                        <p class="h2 py-2">{{formatCurrency(product.price)}}</p>
                        <p class="rating py-2">
                          <app-rating-display [productId]="product.ProductID" [readonly]="true"></app-rating-display>
                        </p>
                        <p class="py-2">
                            <app-rating-create [productId]="product.ProductID"></app-rating-create>
                          </p>
                      
                        <h6>Opis:</h6>
                        <ul class="list-unstyled pb-3">
                        <p>{{product.description}}</p>
                        
                        </ul>
                        <h6>Specifikacije:</h6>
                        <ul class="list-unstyled pb-3">
                         <p>{{product.specification}}</p>
                        </ul>

                        <div class="row pb-3">
                              
                            <div class="col d-grid">
                              <h6>Garancija:</h6>
                              <p>{{product.warranty}}</p>
                            </div>                              
                            <div>
                             <a class="btn btn-success text-white mt-2" href="{{product.manufacturer_url}}">Uradna stran</a>
                                                               
                            </div>
                        </div>                    

                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                       
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="row pb-3">
                              
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard" (click)="addToCartAndRedirect(product.ProductID)">V košarico</button>                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->
