<div class="container py-5">
  <div class="card border border-shadow">
    <div class="card h-100 border-dark-subtle shadow-sm bg-light">
        <div class="row text-center">
            <div class="col">Št. naročila</div>
            <div class="col">Datum</div>
            <div class="col">Znesek</div>
            <div class="col">Status</div>
          </div>
    </div>
  </div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
</div>
