<div class="container py-5">  
  <div class="text-center align-self-center"><h4>Moja naročila</h4></div>  
    <div class="card h-100 border-dark-subtle shadow-sm bg-light">       
 <div *ngIf="orders$ | async as orders;">
    <table>
      <thead>
          <tr class="text-header">
          <th>Št. naročila</th>
          <th>Datum naročila</th>
          <th>Skupni znesek</th>
          <th>Izdelki</th>
          <th>Status naročila</th>
        </tr>
      </thead>
      <tbody style="font-size: medium;">
        <tr *ngFor="let order of orders">
          <td>{{ order.orderNumber }}</td>
          <td>{{ order.orderDate | date:'dd.MM.yyyy' }}</td>
          <td>{{formatCurrency(order.totalPrice )}}</td>
          
          <td>
            <ul>
              <li *ngFor="let item of order.items">
                {{ item.name }} ({{ item.quantity }} x {{ formatCurrency(item.price) }})
              </li>
            </ul>
          </td>
          <td>{{ order.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
