<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">{{ 'Pozabljeno_geslo' | translate }}</h4>
                        </div>
                        <div class="form-floating">
                            <input type="username" 
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="Username"
                            name="email"
                            [(ngModel)]="email">
                            <label for="floatingInput">Email</label>
                          </div>
                        <ul></ul>
                        <button class="w-100 btn btn-lg btn-primary" 
                              type="submit" 
                              (click)="forgotPassword()">{{ 'Poslji_email' | translate }}</button>
                              <ul></ul>
                        <div class="row">
                            <div class="md-3">
                                <a href="/login" style="text-decoration: none;">{{ 'Nazaj_na_prijavo' | translate }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>