<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{userData.name}}</span><span class="text-black-50">{{userData.email}}</span><span> </span></div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                    <label class="labels">Name</label>
                    <input type="text" class="form-control" placeholder="first name" [(ngModel)]="userData.name">
                </div>
                <div class="col-md-6">
                    <label class="labels">Surname</label>
                    <input type="text" class="form-control" placeholder="surname" [(ngModel)]="userData.surname">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label class="labels">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="enter phone number" [(ngModel)]="userData.phoneNumber">
                </div>
                <div class="col-md-12">
                    <label class="labels">Address</label>
                    <input type="text" class="form-control" placeholder="enter address"  [(ngModel)]="userData.address">
                </div>
                <div class="col-md-12">
                    <label class="labels">Postcode</label>
                    <input type="text" class="form-control" placeholder="enter postal code" [(ngModel)]="userData.postalCode">
                </div>
                <div class="col-md-12">
                    <label class="labels">Email</label>
                    <input type="text" class="form-control" placeholder="enter email" [(ngModel)]="userData.email">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="labels">Country</label>
                    <input type="text" class="form-control" placeholder="country" [(ngModel)]="userData.country">
                </div>
                <div class="col-md-6">
                    <label class="labels">City</label>
                    <input type="text" class="form-control" placeholder="state" [(ngModel)]="userData.city">
                </div>
            </div>
            <div class="mt-5 text-center">
                <button class="btn btn-primary profile-button" (click)="saveProfile()">Save Profile</button>
            </div>
        </div>
    </div>
</div>
</div>