.h2 {

    color:rgb(37, 41, 41);
    font-weight: 400;
}

.img-fluid {
    width: 300px;
    height: 300px;
    display: block; /*omogÄi prilagoditev velikosti*/
    object-fit: contain;
    text-align: center;
}

/* background at the number*/
.pagination-spreads::ng-deep li {
  background-color: #20c997;
  font-family: 'Roboto', sans-serif !important;
  color:aliceblue
  
 }

/* hide the previus when at number 1. with ::before */
.pagination-spreads::ng-deep ul > li.disabled {
  display: none !important;
}

/* deactivated numbers will be grayed out */
.pagination-spreads::ng-deep ul > li:not(.active) > a {
  background-color: rgb(255, 255, 255) !important;
  border-color: black !important;
  color: #363333;
}
.pagination-spreads::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover {
 background: #20c997 !important;
 border-radius: 3px !important;
}
