
  
<div class="container py-5">
  <div class="row">
    <div class="col-lg-3">
    <h1 class="h2 pb-4">Kategorije</h1>
    <ul class="list-unstyled templatemo-accordion ">
        <li class="pb-3" *ngFor="let category of categories">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="">
                {{ category.name }}
            </a>
            
        </li>
    </ul>
</div>
 
     <div class="col-lg-9">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-2">
            <input type="text" [(ngModel)]="searchTerm" (input)="onInputSearch()" class="form-control" placeholder="Išči izdelek...">
            
        </div>
          
          
       </div>
        <div class="col-md-6 pb-4">       
          <div class="d-flex">

            <select #sortSelect (input)="onSortChange(sortSelect.value)" class="form-control" id="filter">
              <option value="" disabled selected>Filter...</option>
              <option value="asc">Cena naraščajoče</option>
              <option value="desc">Cena padajoče</option>
              <option value="nameAsc">A-Z</option>
              <option value="nameDesc">Z-A</option>
              <option value="inStock">Na voljo</option>
              <option value="outOfStock">Ni na voljo</option>
            </select>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4" *ngFor="let product of filteredProducts | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}">
          <div class="card mb-4 product-wap bg-light">
            <div class="card h-100 border-dark-subtle shadow-sm bg-white">
              <img class="card-img img-fluid" src="assets/img/{{product.img_url}}" alt="{{product.name}}"/>
              
              <div class="card-img-overlay product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                                   
                  <li>
                    <a class="btn btn-success text-white mt-2" [routerLink]="['/product-details', product.CategoryID, product.ProductID]">
                        <i class="far fa-eye"></i></a>
                  </li>

                  <li>
                    <a 
                    class="btn btn-success text-white mt-2" 
                    (click)="addToCartAndRedirect(product.ProductID)">
                    <i class="fas fa-cart-plus" aria-label="V košarico"></i>
                  </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <div class="h3 text-decoration-none">{{product.name}}</div>
              <ul
                class="w-100 list-unstyled d-flex justify-content-between mb-0">
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <app-rating-display [productId]="product.ProductID" [readonly]="true"></app-rating-display>
                 
                </li>
              </ul>
              <p class="text-center mb-0"><strong>{{formatCurrency(product.price)}}</strong></p>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
            
                <li>{{product.inStock ? 'Na zalogi' : 'Ni na zalogi'}}</li>
              </ul>
            </div>
          </div>
        </div>
       
      </div>
     
     <!--Pagination-->
      
     <div class="row">
              
     <pagination-controls class="pagination-spreads"
          (pageChange)="onPageChange($event)"  
          [directionLinks]="false"
          [autoHide]="true"
          [maxSize]="10"          
          >
        </pagination-controls>     
    
    </div>

     <!--Pagination END--> 
     
    </div>
  </div>

</div>
