.h2 {

    color:rgb(37, 41, 41);
    font-weight: 400;
}

.img-fluid {
    width: 280px;
    height: 280px;
    display:flexbox; /*omogči prilagoditev velikosti*/
    object-fit:contain;
    text-align: center;
    vertical-align: middle;
    
}

.pagination-spreads::ng-deep .ngx-pagination a,
.pagination-spreads::ng-deep .ngx-pagination button {
    background: #e9f380 !important;
    color: black !important;
    font-size: 20px !important;    
} 

  .pagination-spreads::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover {
   background: #e9f380 !important;
   color: black !important;
   border-radius: 3px !important;
   font-weight: 600 !important;
   font-size: 25px !important; /* Velikost pisave za aktivni element */
  }

  .pagination-spreads::ng-deep .ngx-pagination .current {
    background: #e9f380 !important;
    color: black !important;
    border-radius: 3px !important;
   
    font-size: 25px !important; /* Velikost pisave za aktivni element */
  }

  .pagination-spreads::ng-deep .ngx-pagination a:active, .ngx-pagination button:active {
    background: #e9f380 !important;
    border-radius: 3px !important;
   
   }


 