/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/*@import "assets/css/templatemo.css";
/*@import "assets/css/custom.css";
/*@import "assets/css/slick-theme.css";
/*@import "assets/css/slick-theme.min.css";
/*@import "assets/css/slick.min.css";*/
/*@import "assets/themes/dark-theme.css";
/*@import "assets/themes/light-theme.css";

body {
    transition: background-color 0.3s, color 0.3s;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 /* Za uspešno obvestilo */
.toast-success {
    background-color: #5ace75 !important; /* Spremenite barvo */
    color: #ffffff !important; /* Spremenite barvo pisave */
    font-size: 16px !important; /* Spremenite velikost pisave */
  }
  
  /* Za opozorilo */
  .toast-warning {
    background-color: #ffc107 !important;
    color: #ffffff !important;
  }
  
  /* Za napako */
  .toast-error {
    background-color: #dc3545 !important;
    color: #fff !important;
  }
  
  /* Za informacijo */
  .toast-info {
    background-color: #b5dfe5 !important;
    color: #fff !important;
  }
  
  /* Splošna prilagoditev */
  .toast {
    border-radius: 8px !important; /* Zaokroženi robovi */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; /* Dodajte senco */
    padding: 15px !important;
    color:#ffffff !important;
    
  } 

.button-style {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #707070;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-style:hover {
  background-color: #e0e0e0; /* Temnejša modra barva ob hoverju */
  border-color: #aaa
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
