
<div id="template-mo-zay-hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      
    <div class="carousel-inner">
        
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-lg-6 order-lg-last">
                        <img class="d-block w-100" src="assets/img/logo.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 *ngIf="!isLoggedIn" class="h1 text-success"><b>Dobrodošli</b></h1>
                            <h1 *ngIf="isLoggedIn" class="h1 text-success"><b>Dobrodošli {{userData.name}} {{userData.surname}}</b></h1>
                            <h3 class="h2">v vaši zimski destinaciji</h3>
                            <p>
                                Snow Motion ni le spletna trgovina, temveč tudi kraj, kjer zima zaživi. 
                                Pri nas najdete vrhunsko smučarsko opremo in dodatke, ki vas bodo spremljali
                                na vseh zasneženih dogodivščinah.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
      
    </div>
</div>

<!-- Izpostavljene kategorije -->

<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Kategorije meseca</h1>
            <p>
            Zima je pred vrati, in pri nas najdete vse, 
            kar potrebujete za brezskrbne dni na snegu! Odkrijte široko ponudbo smuči, 
            smučarskih čevljev, palic, čelad ter nepogrešljivih dodatkov za smučanje.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="assets/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Smuči</h5>
            <p class="text-center"><a class="btn btn-success" href="#" [routerLink]="['/trgovina']">V trgovino</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Smučarski čevlji</h2>
            <p class="text-center"><a class="btn btn-success" href="#" [routerLink]="['/trgovina']">V trgovino</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Dodatna oprema</h2>
            <p class="text-center"><a class="btn btn-success" href="#" [routerLink]="['/trgovina']">V trgovino</a></p>
        </div>
    </div>
</section>

<!-- Izpostavljeni izdelki -->

<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Aktualno</h1>
                <p>
                Preverite aktualne popuste in se opremite za novo sezono že danes!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="">
                        <img src="assets/img/feature_prod_01.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$240.00</li>
                        </ul>
                        <a href="" class="h2 text-decoration-none text-dark">Nordica Speedmachine 3</a>
                        <p class="card-text">
                            No matter the terrain or the conditions, Nordica's all-new Speedmachine 3 120 unlocks everything the mountains have to offer.
                        </p>
                        <p class="text-muted">Mnenja (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="assets/img/feature_prod_02.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                
                               
                            </li>
                            <li class="text-muted text-right">$480.00</li>
                        </ul>
                        <a href="" class="h2 text-decoration-none text-dark">Lange Heated Ski Boot Bag</a>
                        <p class="card-text">
                            World Cup circuit, heavy-duty heated boot bag (120V) keeps boots warm and dry while driving to the resort.
                        </p>
                        <p class="text-muted">Mnenja (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="">
                        <img src="assets/img/feature_prod_03.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$360.00</li>
                        </ul>
                        <a href="" class="h2 text-decoration-none text-dark">Rome Agent Snowboard</a>
                        <p class="card-text">
                         The Agent is a true heritage board for Rome. Built with the ride-anything sensibilities of Fusion Camber...
                        </p>
                        <p class="text-muted">Mnenja (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Sodelujemo tudi s priznanimi znamkami</h1>
                <p>
                    Naša spletna trgovina vas spodbudi, da premikate meje svojih zmožnosti.
                    Odkrijte opremo, ki vas bo navdušila, da dosežete višje nivoje na smučeh!
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href=""><img class="img-fluid brand-img" src="assets/img/brand_mckinley.jpg" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href=""><img class="img-fluid brand-img" src="assets/img/brand_elan.jpg" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href=""><img class="img-fluid brand-img" src="assets/img/brand_alpina.jpg" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href=""><img class="img-fluid brand-img" src="assets/img/brand_colmar.jpg" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_leki.jpg" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_adidas.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_nike.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_hh.jpg" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->
