
<section class="">     
    <div class="carousel-inner">        
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="mx-auto col-lg-6 order-lg-last">
                        <img src="assets/img/logo.png" alt="logo">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 *ngIf="!isLoggedIn" class="text-success welcome"><b>{{ 'Dobrodosli_gost' | translate }}</b></h1>
                            <h1 *ngIf="isLoggedIn" class="text-success welcome"><b>{{ 'Dobrodosli' | translate }} {{userData.name}} {{userData.surname}}</b></h1>
                            <h2>{{ 'V_vasi' | translate }}</h2>
                            <p>
                                {{ 'Snow_motion' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
      
    </div>

</section>

<!-- Izpostavljene kategorije -->

    <section class="bg-light">
                   
        <div class="container pt-3">
    <div class="row text-center text-success welcome">            
            <h1>{{ 'Kategorije_meseca' | translate }}</h1>
            <div class="home-text">{{ 'Zima_pred_vrati' | translate }}</div>
       
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="" [routerLink]="['/trgovina']"><img src="assets/img/category_img_01.jpg" alt="Smuči" class="rounded-circle img-fluid border img-hover"></a>
            <h2 class="text-center mt-3 mb-3">{{ 'Smuci' | translate }}</h2>
            <p class="text-center"><a class="btn btn-success" href="#" [routerLink]="['/trgovina']">{{ 'V_trgovino' | translate }}</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="" [routerLink]="['/trgovina']"><img src="assets/img/category_img_02.jpg" alt="Smučarski čevlji" class="rounded-circle img-fluid border img-hover"></a>
            <h2 class="text-center mt-3 mb-3">{{ 'Smucarski_cevlji' | translate }}</h2>
            <p class="text-center"><a class="btn btn-success" href="#" [routerLink]="['/trgovina']">{{ 'V_trgovino' | translate }}</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="" [routerLink]="['/trgovina']"><img src="assets/img/category_img_03.jpg" alt="Dodatna oprema" class="rounded-circle img-fluid border img-hover"></a>
            <h2 class="text-center mt-3 mb-3">{{ 'Dodatna_oprema' | translate }}</h2>
            <p class="text-center"><a class="btn btn-success" href="#" [routerLink]="['/trgovina']">{{ 'V_trgovino' | translate }}</a></p>
        </div>
    </div>
        </div>
</section>

<!-- Izpostavljeni izdelki -->

<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-6 m-auto text-success welcome">
                <h1>{{ 'Aktualno' | translate }}</h1>
                <div class="home-text mb-5">{{ 'Preverite_popuste' | translate }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="" [routerLink]="['/trgovina']" aria-label="trgovina">
                        <img src="assets/img/feature_prod_01.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">{{240.00 | currency: 'EUR'}}</li>
                        </ul>
                        <a href="" class="h2 text-decoration-none text-dark">Nordica Speedmachine 3</a>
                        <p class="card-text">
                            {{ 'Nordica' | translate }}.
                        </p>
                      
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="" [routerLink]="['/trgovina']" aria-label="trgovina">
                        <img src="assets/img/feature_prod_02.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>                              
                            </li>
                            <li class="text-muted text-right">{{480.00 | currency: 'EUR'}}</li>
                        </ul>
                        <a href="" class="h2 text-decoration-none text-dark">Lange Heated Ski Boot Bag</a>
                        <p class="card-text">
                            {{ 'Torba' | translate }}.
                        </p>
                     
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="" [routerLink]="['/trgovina']" aria-label="trgovina">
                        <img src="assets/img/feature_prod_03.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">{{360.00 | currency: 'EUR'}}</li>
                        </ul>
                        <a class="h2 text-decoration-none text-dark">Rome Agent Snowboard</a>
                        <p class="card-text">
                            {{ 'Agent Snowboard' | translate }}.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Brands -->
<section class="bg-light py-3">
    <div class="container my-4">
        <div class="row text-center">
            <div class="col-lg-6 m-auto text-success welcome">
                <h1>{{ 'Sodelujemo' | translate }}</h1>
                <p>
                    {{ 'Vas_spodbudi' | translate }}
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    

                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href=""><img class="img-fluid brand-img" src="assets/img/brand_mckinley.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href=""><img class="img-fluid brand-img" src="assets/img/brand_elan.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href=""><img class="img-fluid brand-img" src="assets/img/brand_alpina.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href=""><img class="img-fluid brand-img" src="assets/img/brand_colmar.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_leki.jpg" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_adidas.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_nike.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_hh.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->

                   
                    
                </div>
            </div>
        </div>
    </div>
    
</section>
<!--End Brands-->
